<tr><td>Order</td><td>Family</td><td>Scientific Name</a></td><td>Common Name</td><td>
<tr><td>Coleoptera</td><td>Anobiidae</td><td>Lasioderma serricorne</a></td><td>Cigarette beetle</td><td>
<tr><td>Coleoptera</td><td>Anobiidae</td><td>Stegobium paniceum</a></td><td>Drugstore beetle</td><td>
<tr><td>Coleoptera</td><td>Bostrichidae</td><td>Prostephanus truncatus</a></td><td>Larger grain borer</td><td>
<tr><td>Coleoptera</td><td>Bostrichidae</td><td>Rhyzopertha dominica </a></td><td>Lesser grain borer</td><td>
<tr><td>Coleoptera</td><td>Brentidae</td><td>Cylas formicarius</a></td><td>Sweet potato weevil</td><td>
<tr><td>Coleoptera</td><td>Buprestidae</td><td>Agrilus planipennis</a></td><td>Emerald ash borer</td><td>
<tr><td>Coleoptera</td><td>Cerambycidae</td><td>Acalolepta aesthetica</a></td><td>Queensland longhorned beetle </td><td>
<tr><td>Coleoptera</td><td>Cerambycidae</td><td>Anoplophora chinensis</a></td><td>Citrus long-horned beetle</td><td>
<tr><td>Coleoptera</td><td>Cerambycidae</td><td>Mallodon dasystomus</a></td><td>Hardwood stump borer</td><td>
<tr><td>Coleoptera</td><td>Cerambycidae</td><td>Tetropium fuscum</a></td><td>Brown spruce longhorn beetle</td><td>
<tr><td>Coleoptera</td><td>Cerambycidae</td><td>Trichoferus campestris</a></td><td>Velvet longhorned beetle, Mulberry longhorn beetle</td><td>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Aphthona nigriscutis</a></td><td>Flea beetle, Leafy spurge beetle</td><td>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Chrysomela scripta</a></td><td>Cottonwood leaf beetle</td><td>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diabrotica barberi</a></td><td>Northern corn rootworm</td><td>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diabrotica undecimpunctata</a></td><td>Southern corn rootworm</td><td>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diorhabda carinata</a></td><td>Larger tamarisk beetle</td><td>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diorhabda carinulata</a></td><td>Northern tamarisk beetle</td><td>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diorhabda elongata</a></td><td>Mediterranean tamarisk beetle</td><td>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diorhabda sublineata</a></td><td>Subtropical tamarisk beetle</td><td>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Anthonomus grandis</a></td><td>Boll weevil</td><td>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Anthonomus grandis thurberiae</a></td><td>Thurberia weevil</td><td>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Asynonychus godmani </a></td><td>Fuller rose beetle</td><td>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Diaprepes abbreviatus</a></td><td>Citrus root weevil</td><td>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Hypera postica</a></td><td>Alfalfa weevil</td><td>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Hypothenemus hampei</a></td><td>Coffee berry borer </td><td>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Sitophilus oryzae</a></td><td>Rice weevil</td><td>
<tr><td>Coleoptera</td><td>Dermestidae</td><td>Dermestes maculatus</a></td><td>Common hide beetle</td><td>
<tr><td>Coleoptera</td><td>Dermestidae</td><td>Trogoderma granarium</a></td><td>Khapra beetle </td><td>
<tr><td>Coleoptera</td><td>Dermestidae</td><td>Trogoderma inclusum</a></td><td>Larger cabinet beetle</td><td>
<tr><td>Coleoptera</td><td>Dermestidae</td><td>Trogoderma variabile</a></td><td>Warehouse beetle</td><td>
<tr><td>Coleoptera</td><td>Nitidulidae</td><td>Carpophilus hemipterus </a></td><td>Dried fruit beetle</td><td>
<tr><td>Coleoptera</td><td>Scarabaeidae</td><td>Oryctes rhinoceros </a></td><td>Coconut rhinoceros beetle</td><td>
<tr><td>Coleoptera</td><td>Silvanidae</td><td>Oryzaephilus mercator</a></td><td>Merchant grain beetle</td><td>
<tr><td>Coleoptera</td><td>Silvanidae</td><td>Oryzaephilus surinamensis</a></td><td>Saw-toothed grain beetle</td><td>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Cynaeus angustus</a></td><td>Larger Black Flour Beetle</td><td>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Gnatocerus cornutus</a></td><td>Broad-horned Flour Beetle</td><td>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Latheticus oryzae</a></td><td>Longheaded flour beetle</td><td>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Palorus ratzeburgii</a></td><td>Small-eyed flour beetle</td><td>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Tenebrio molitor</a></td><td>Yellow mealworm</td><td>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Tribolium brevicornis</a></td><td>North American flour beetle</td><td>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Tribolium castaneum</a></td><td>Red flour beetle</td><td>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Tribolium confusum</a></td><td>Confused flour beetle</td><td>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Tribolium destructor</a></td><td>Destructive flour beetle</td><td>
<tr><td>Diptera</td><td>Cecidomyiidae</td><td>Mayetiola avenae</a></td><td>Oat stem midge</td><td>
<tr><td>Diptera</td><td>Cecidomyiidae</td><td>Mayetiola destructor</a></td><td>Hessian fly</td><td>
<tr><td>Diptera</td><td>Cecidomyiidae</td><td>Mayetiola hordei</a></td><td>Barley stem gall midge</td><td>
<tr><td>Diptera</td><td>Muscidae</td><td>Haematobia irritans</a></td><td>Horn fly</td><td>
<tr><td>Diptera</td><td>Muscidae</td><td>Haematobia irritans</a></td><td>Horn fly</td><td>
<tr><td>Diptera</td><td>Muscidae</td><td>Musca autumnalis</a></td><td>Face fly</td><td>
<tr><td>Diptera</td><td>Muscidae</td><td>Musca autumnalis</a></td><td>Face fly</td><td>
<tr><td>Diptera</td><td>Muscidae</td><td>Stomoxys calcitrans</a></td><td>Stable fly</td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Anastrepha fraterculus</a></td><td>South American fruit fly</td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Anastrepha ludens </a></td><td>Mexican fruit fly</td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Anastrepha ludens </a></td><td>Mexican fruit fly</td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Anastrepha obliqua </a></td><td>Tephritid fruit fly pest</td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Anastrepha obliqua </a></td><td>Tephritid fruit fly pest</td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Anastrepha suspensa</a></td><td>Caribbean fruit fly</td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Bactrocera albistrigata</a></td><td>Tephritid fruit fly pest</td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Bactrocera correcta</a></td><td>Tephritid fruit fly pest</td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Bactrocera dorsalis</a></td><td>Oriental fruit fly </td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Bactrocera dorsalis</a></td><td>Oriental fruit fly</td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Bactrocera zonata</a></td><td>Tephritid fruit fly pest</td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Ceratitis capitata</a></td><td>Mediterranean fruit fly</td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Strauzia longitudinalis </a></td><td>Sunflower maggot</td><td>
<tr><td>Diptera</td><td>Tephritidae</td><td>Strauzia vittigera</a></td><td>Sunflower maggot </td><td>
<tr><td>Diptera</td><td>Ulidiidae</td><td>Chaetopsis massyla</a></td><td>Cornsilk fly, Picture-winged fly</td><td>
<tr><td>Diptera</td><td>Ulidiidae</td><td>Euxesta eluta</a></td><td>Cornsilk fly, Picture-winged fly</td><td>
<tr><td>Diptera</td><td>Ulidiidae</td><td>Euxesta stigmatias</a></td><td>Cornsilk fly, Picture-winged fly</td><td>
<tr><td>Hemiptera</td><td>Aclerdidae</td><td>Nipponaclerda biwakoensis</a></td><td>Roseau cane scale</td><td>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Aphis gossypii</a></td><td>Cotton aphid</td><td>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Aphis fabae</a></td><td>Black bean aphid</td><td>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Aphis spiraecola</a></td><td>Green citrus aphid</td><td>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Eriosoma lanigerum</a></td><td>Woolly apple aphid</td><td>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Macrosiphum euphorbiae</a></td><td>Potato aphid</td><td>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Melanaphis sacchari</a></td><td>Sugarcane aphid</td><td>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Schizaphis graminum</a></td><td>Greenbug</td><td>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Sipha flava</a></td><td>Yellow sugarcane aphid</td><td>
<tr><td>Hemiptera</td><td>Coreidae</td><td>Anasa tristis</a></td><td>Squash bug</td><td>
<tr><td>Hemiptera</td><td>Coreidae</td><td>Leptoglossus clypealis</a></td><td>Western leaf-footed bug</td><td>
<tr><td>Hemiptera</td><td>Coreidae</td><td>Leptoglossus zonatus</a></td><td>Leaf-footed bug</td><td>
<tr><td>Hemiptera</td><td>Diaspididae</td><td>Aonidiella aurantii</a></td><td>California red scale</td><td>
<tr><td>Hemiptera</td><td>Fulgoridae</td><td>Lycorma delicatula</a></td><td>Spotted lanternfly</td><td>
<tr><td>Hemiptera</td><td>Geocoridae</td><td>Geocoris pallens</a></td><td>Western big-eyed bug</td><td>
<tr><td>Hemiptera</td><td>Lygaeidae</td><td>Oncopeltus fasciatus</a></td><td>Large milkweed bug</td><td>
<tr><td>Hemiptera</td><td>Miridae</td><td>Lygus hesperus</a></td><td>Lygus bug, Western tarnished plant bug</td><td>
<tr><td>Hemiptera</td><td>Miridae</td><td>Lygus lineolaris</a></td><td>Lygus bug</td><td>
<tr><td>Hemiptera</td><td>Pentatomidae</td><td>Bagrada hilaris</a></td><td>Bagrada bug</td><td>
<tr><td>Hemiptera</td><td>Pentatomidae</td><td>Euschistus servus</a></td><td>Brown stink bug</td><td>
<tr><td>Hemiptera</td><td>Pentatomidae</td><td>Halyomorpha halys</a></td><td>Brown marmorated stink bug</td><td>
<tr><td>Hemiptera</td><td>Pentatomidae</td><td>Murgantia histrionica</a></td><td>Harlequin bug</td><td>
<tr><td>Hemiptera</td><td>Pentatomidae</td><td>Nezara viridula</a></td><td>Southern green stink bug</td><td>
<tr><td>Hemiptera</td><td>Pentatomidae</td><td>Piezodorus guildinii</a></td><td>Red-banded stink bug</td><td>
<tr><td>Hemiptera</td><td>Plataspidae</td><td>Megacopta cribraria</a></td><td>Kudzu bug</td><td>
<tr><td>Hemiptera</td><td>Pseudococcidae</td><td>Planococcus ficus</a></td><td>Vine mealybug</td><td>
<tr><td>Hemiptera</td><td>Pseudococcidae</td><td>Pseudococcus maritimus</a></td><td>American grape mealybug</td><td>
<tr><td>Hemiptera</td><td>Psyllidae</td><td>Cacopsylla pyricola</a></td><td>Pear psylla</td><td>
<tr><td>Hemiptera</td><td>Scutelleridae</td><td>Eurygaster integriceps</a></td><td>Sunn Pest</td><td>
<tr><td>Hemiptera</td><td>Triozidae  </td><td>Bactericera maculipennis</a></td><td>Bindweed psyllid</td><td>
<tr><td>Hemiptera</td><td>Triozidae  </td><td>Leuronota fagarae</a></td><td>Lime psyllid</td><td>
<tr><td>Hymenoptera</td><td>Diprionidae</td><td>Diprion similis</a></td><td>Introduced pine sawfly</td><td>
<tr><td>Hymenoptera</td><td>Diprionidae</td><td>Neodiprion lecontei</a></td><td>Sawfly</td><td>
<tr><td>Hymenoptera</td><td>Diprionidae</td><td>Neodiprion pinetum</a></td><td>Sawfly</td><td>
<tr><td>Hymenoptera</td><td>Diprionidae</td><td>Neodiprion fabricii</a></td><td>Sawfly</td><td>
<tr><td>Hymenoptera</td><td>Diprionidae</td><td>Neodiprion virginianus</a></td><td>Pine sawfly</td><td>
<tr><td>Hymenoptera</td><td>Eulophidae</td><td>Phymastichus coffea</a></td><td>Parasitoid wasp of coffee berry borer</td><td>
<tr><td>Hymenoptera</td><td>Formicidae</td><td>Solenopsis invicta</a></td><td>Red imported fire ant </td><td>
<tr><td>Hymenoptera</td><td>Formicidae</td><td>Wasmannia auropunctata</a></td><td>Litte fire ant</td><td>
<tr><td>Hymenoptera</td><td>Vespidae</td><td>Vespa crabro</a></td><td>European Hornet</td><td>
<tr><td>Hymenoptera</td><td>Vespidae</td><td>Vespa mandarinia</a></td><td>Asian giant hornet</td><td>
<tr><td>Hymenoptera</td><td>Vespidae</td><td>Vespula pensylvanica</a></td><td>Western yellowjacket</td><td>
<tr><td>Ixodida</td><td>Argasidae</td><td>Ornithodoros turicata</a></td><td>Relapsing fever tick</td><td>
<tr><td>Ixodida</td><td>Argasidae</td><td>Ornithodoros verrucosus</a></td><td>Relapsing fever tick</td><td>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Amblyomma americanum</a></td><td>Lone star tick</td><td>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Amblyomma maculatum</a></td><td>Gulf Coast tick</td><td>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Amblyomma variegatum</a></td><td>Tropical bont tick</td><td>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Dermacentor andersoni</a></td><td>Rocky Mountain wood tick</td><td>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Dermacentor variabilis</a></td><td>American dog tick</td><td>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Haemaphysalis longicornis</a></td><td>Asian longhorned tick</td><td>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Rhipicephalus appendiculatus</a></td><td>Brown ear tick</td><td>
<tr><td>Lepidoptera</td><td>Crambidae</td><td>Ostrinia nubilalis</a></td><td>European corn borer</td><td>
<tr><td>Lepidoptera</td><td>Gelechiidae</td><td>Anarsia lineatella </a></td><td>Peach twig borer</td><td>
<tr><td>Lepidoptera</td><td>Gelechiidae</td><td>Pectinophora gossypiella</a></td><td>Pink bollworm</td><td>
<tr><td>Lepidoptera</td><td>Noctuidae</td><td>Eudocima phalonia</a></td><td>Fruit piercing moth</td><td>
<tr><td>Lepidoptera</td><td>Noctuidae</td><td>Helicoverpa zea</a></td><td>Corn earworm</td><td>
<tr><td>Lepidoptera</td><td>Noctuidae</td><td>Striacosta albicosta</a></td><td>Western bean cutworm</td><td>
<tr><td>Lepidoptera</td><td>Pyralidae</td><td>Achroia grisella</a></td><td>Lesser waxmoth</td><td>
<tr><td>Lepidoptera</td><td>Pyralidae</td><td>Cadra cautella</a></td><td>Almond moth</td><td>
<tr><td>Lepidoptera</td><td>Pyralidae</td><td>Cadra figulilella</a></td><td>Raisin moth</td><td>
<tr><td>Lepidoptera</td><td>Pyralidae</td><td>Plodia interpunctella</a></td><td>Indian meal moth</td><td>
<tr><td>Lepidoptera</td><td>Tortricidae</td><td>Cydia pomonella</a></td><td>Codling moth</td><td>
<tr><td>Orthoptera</td><td>Acrididae</td><td>Schistocerca gregaria</a></td><td>Desert locust</td><td>
<tr><td>Orthoptera</td><td>Gryllidae</td><td>Acheta domesticus</a></td><td>House cricket</td><td>
<tr><td>Orthoptera</td><td>Gryllidae</td><td>Gryllodes sigillatus</a></td><td>Banded cricket</td><td>
<tr><td>Thysanoptera</td><td>Thripidae</td><td>Frankliniella occidentalis</a></td><td>Western flower thrip</td><td>
