<tr><td>Coleoptera</td><td>Anobiidae</td><td>Lasioderma serricorne</td><td>Cigarette beetle</td></tr>
<tr><td>Coleoptera</td><td>Anobiidae</td><td>Stegobium paniceum</td><td>Drugstore beetle</td></tr>
<tr><td>Coleoptera</td><td>Bostrichidae</td><td>Prostephanus truncatus</td><td>Larger grain borer</td></tr>
<tr><td>Coleoptera</td><td>Bostrichidae</td><td>Rhyzopertha dominica </td><td>Lesser grain borer</td></tr>
<tr><td>Coleoptera</td><td>Brentidae</td><td>Cylas formicarius</td><td>Sweet potato weevil</td></tr>
<tr><td>Coleoptera</td><td>Buprestidae</td><td>Agrilus planipennis</td><td>Emerald ash borer</td></tr>
<tr><td>Coleoptera</td><td>Cerambycidae</td><td>Acalolepta aesthetica</td><td>Queensland longhorned beetle </td></tr>
<tr><td>Coleoptera</td><td>Cerambycidae</td><td>Anoplophora chinensis</td><td>Citrus long-horned beetle</td></tr>
<tr><td>Coleoptera</td><td>Cerambycidae</td><td>Mallodon dasystomus</td><td>Hardwood stump borer</td></tr>
<tr><td>Coleoptera</td><td>Cerambycidae</td><td>Tetropium fuscum</td><td>Brown spruce longhorn beetle</td></tr>
<tr><td>Coleoptera</td><td>Cerambycidae</td><td>Trichoferus campestris</td><td>Velvet longhorned beetle, Mulberry longhorn beetle</td></tr>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Acalymma vittatum</td><td>Striped Cucumber Beetle</td></tr>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Aphthona nigriscutis</td><td>Flea beetle, Leafy spurge beetle</td></tr>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Chrysomela scripta</td><td>Cottonwood leaf beetle</td></tr>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diabrotica barberi</td><td>Northern corn rootworm</td></tr>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diabrotica cristata</td><td>Black Diabrotica</td></tr>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diabrotica undecimpunctata</td><td>Southern corn rootworm</td></tr>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diabrotica undecimpunctata</td><td>Southern corn rootworm</td></tr>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diabrotica virgifera virgifera</td><td>Western corn rootworm</td></tr>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diorhabda carinata</td><td>Larger tamarisk beetle</td></tr>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diorhabda carinulata</td><td>Northern tamarisk beetle</td></tr>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diorhabda elongata</td><td>Mediterranean tamarisk beetle</td></tr>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Diorhabda sublineata</td><td>Subtropical tamarisk beetle</td></tr>
<tr><td>Coleoptera</td><td>Chrysomelidae</td><td>Xanthogaleruca luteola</td><td>Elm leaf beetle</td></tr>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Anthonomus grandis grandis</td><td>Boll weevil</td></tr>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Anthonomus grandis thurberiae</td><td>Thurberia weevil</td></tr>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Callosobruchus maculatus</td><td>Cowpea weevil</td></tr>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Curculio caryae</td><td>Pecan weevil</td></tr>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Diaprepes abbreviatus</td><td>Citrus root weevil</td></tr>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Hypera postica</td><td>Alfalfa weevil</td></tr>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Hypothenemus hampei</td><td>Coffee berry borer </td></tr>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Sitophilus granarius</td><td>Granary weevil</td></tr>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Sitophilus oryzae</td><td>Rice weevil</td></tr>
<tr><td>Coleoptera</td><td>Curculionidae</td><td>Sitophilus zeamais</td><td>Maize weevil</td></tr>
<tr><td>Coleoptera</td><td>Dermestidae</td><td>Dermestes maculatus</td><td>Common hide beetle</td></tr>
<tr><td>Coleoptera</td><td>Dermestidae</td><td>Trogoderma granarium</td><td>Khapra beetle </td></tr>
<tr><td>Coleoptera</td><td>Dermestidae</td><td>Trogoderma inclusum</td><td>Larger cabinet beetle</td></tr>
<tr><td>Coleoptera</td><td>Dermestidae</td><td>Trogoderma variabile</td><td>Warehouse beetle</td></tr>
<tr><td>Coleoptera</td><td>Nitidulidae</td><td>Aethina tumida</td><td>Small hive beetle</td></tr>
<tr><td>Coleoptera</td><td>Nitidulidae</td><td>Carpophilus hemipterus </td><td>Dried fruit beetle</td></tr>
<tr><td>Coleoptera</td><td>Scarabaeidae</td><td>Oryctes rhinoceros </td><td>Coconut rhinoceros beetle</td></tr>
<tr><td>Coleoptera</td><td>Silvanidae</td><td>Oryzaephilus mercator</td><td>Merchant grain beetle</td></tr>
<tr><td>Coleoptera</td><td>Silvanidae</td><td>Oryzaephilus surinamensis</td><td>Saw-toothed grain beetle</td></tr>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Cynaeus angustus</td><td>Larger black flour beetle</td></tr>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Gnatocerus cornutus</td><td>Broad-horned flour beetle</td></tr>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Latheticus oryzae</td><td>Longheaded flour beetle</td></tr>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Palorus ratzeburgii</td><td>Small-eyed flour beetle</td></tr>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Tenebrio molitor</td><td>Yellow mealworm</td></tr>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Tribolium brevicornis</td><td>North American flour beetle</td></tr>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Tribolium castaneum</td><td>Red flour beetle</td></tr>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Tribolium castaneum</td><td>Red flour beetle</td></tr>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Tribolium confusum</td><td>Confused flour beetle</td></tr>
<tr><td>Coleoptera</td><td>Tenebrionidae</td><td>Tribolium destructor</td><td>Destructive flour beetle</td></tr>
<tr><td>Diptera</td><td>Bibionidae</td><td>Plecia nearctica</td><td>Love bug</td></tr>
<tr><td>Diptera</td><td>Cecidomyiidae</td><td>Mayetiola avenae</td><td>Oat stem midge</td></tr>
<tr><td>Diptera</td><td>Cecidomyiidae</td><td>Mayetiola destructor</td><td>Hessian fly</td></tr>
<tr><td>Diptera</td><td>Cecidomyiidae</td><td>Mayetiola hordei</td><td>Barley stem gall midge</td></tr>
<tr><td>Diptera</td><td>Cecidomyiidae</td><td>Resseliella maxima</td><td>Soybean gall midge</td></tr>
<tr><td>Diptera</td><td>Culicidae</td><td>Aedes bromeliae</td><td>mosquito</td></tr>
<tr><td>Diptera</td><td>Culicidae</td><td>Aedes lilii</td><td>mosquito</td></tr>
<tr><td>Diptera</td><td>Muscidae</td><td>Haematobia irritans</td><td>Horn fly</td></tr>
<tr><td>Diptera</td><td>Muscidae</td><td>Haematobia irritans</td><td>Horn fly</td></tr>
<tr><td>Diptera</td><td>Muscidae</td><td>Musca autumnalis</td><td>Face fly</td></tr>
<tr><td>Diptera</td><td>Muscidae</td><td>Musca autumnalis</td><td>Face fly</td></tr>
<tr><td>Diptera</td><td>Muscidae</td><td>Stomoxys calcitrans</td><td>Stable fly</td></tr>
<tr><td>Diptera</td><td>Muscidae</td><td>Stomoxys calcitrans</td><td>Stable fly</td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Anastrepha fraterculus</td><td>South American fruit fly</td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Anastrepha ludens </td><td>Mexican fruit fly</td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Anastrepha ludens </td><td>Mexican fruit fly</td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Anastrepha obliqua </td><td>West Indian Fruit Fly</td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Anastrepha suspensa</td><td>Caribbean fruit fly</td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Bactrocera albistrigata</td><td>Tephritid fruit fly pest</td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Bactrocera correcta</td><td>Tephritid fruit fly pest</td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Bactrocera dorsalis</td><td>Oriental fruit fly </td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Bactrocera dorsalis</td><td>Oriental fruit fly</td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Bactrocera zonata</td><td>Tephritid fruit fly pest</td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Ceratitis capitata</td><td>Mediterranean fruit fly</td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Rhagoletis completa</td><td>Walnut husk fly</td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Strauzia longitudinalis </td><td>Sunflower maggot</td></tr>
<tr><td>Diptera</td><td>Tephritidae</td><td>Strauzia vittigera</td><td>Sunflower maggot </td></tr>
<tr><td>Diptera</td><td>Ulidiidae</td><td>Chaetopsis massyla</td><td>Cornsilk fly, Picture-winged fly</td></tr>
<tr><td>Diptera</td><td>Ulidiidae</td><td>Euxesta eluta</td><td>Cornsilk fly, Picture-winged fly</td></tr>
<tr><td>Diptera</td><td>Ulidiidae</td><td>Euxesta stigmatias</td><td>Cornsilk fly, Picture-winged fly</td></tr>
<tr><td>Hemiptera</td><td>Aclerdidae</td><td>Nipponaclerda biwakoensis</td><td>Roseau cane scale</td></tr>
<tr><td>Hemiptera</td><td>Aleyrodidae</td><td>NA</td><td>Whitefly</td></tr>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Aphis fabae</td><td>Black bean aphid</td></tr>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Aphis gossypii</td><td>Cotton aphid</td></tr>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Aphis spiraecola</td><td>Green citrus aphid</td></tr>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Eriosoma lanigerum</td><td>Woolly apple aphid</td></tr>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Macrosiphum euphorbiae</td><td>Potato aphid</td></tr>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Melanaphis sacchari</td><td>Sugarcane aphid</td></tr>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Schizaphis graminum</td><td>Greenbug</td></tr>
<tr><td>Hemiptera</td><td>Aphididae</td><td>Sipha flava</td><td>Yellow sugarcane aphid</td></tr>
<tr><td>Hemiptera</td><td>Cicadellidae</td><td>Graphocephala atropunctata</td><td>Blue-green sharpshooter</td></tr>
<tr><td>Hemiptera</td><td>Cicadellidae</td><td>Homalodisca vitripennis </td><td>Glassy-winged sharpshooter</td></tr>
<tr><td>Hemiptera</td><td>Coreidae</td><td>Anasa tristis</td><td>Squash bug</td></tr>
<tr><td>Hemiptera</td><td>Coreidae</td><td>Leptoglossus clypealis</td><td>Western leaf-footed bug</td></tr>
<tr><td>Hemiptera</td><td>Coreidae</td><td>Leptoglossus zonatus</td><td>Leaf-footed bug</td></tr>
<tr><td>Hemiptera</td><td>Diaspididae</td><td>Aonidiella aurantii</td><td>California red scale</td></tr>
<tr><td>Hemiptera</td><td>Fulgoridae</td><td>Lycorma delicatula</td><td>Spotted lanternfly</td></tr>
<tr><td>Hemiptera</td><td>Geocoridae</td><td>Geocoris pallens</td><td>Western big-eyed bug</td></tr>
<tr><td>Hemiptera</td><td>Lygaeidae</td><td>Oncopeltus fasciatus</td><td>Large milkweed bug</td></tr>
<tr><td>Hemiptera</td><td>Miridae</td><td>Lygus hesperus</td><td>Lygus bug, Western tarnished plant bug</td></tr>
<tr><td>Hemiptera</td><td>Miridae</td><td>Lygus lineolaris</td><td>Lygus bug</td></tr>
<tr><td>Hemiptera</td><td>Pentatomidae</td><td>Bagrada hilaris</td><td>Bagrada bug</td></tr>
<tr><td>Hemiptera</td><td>Pentatomidae</td><td>Euschistus servus</td><td>Brown stink bug</td></tr>
<tr><td>Hemiptera</td><td>Pentatomidae</td><td>Halyomorpha halys</td><td>Brown marmorated stink bug</td></tr>
<tr><td>Hemiptera</td><td>Pentatomidae</td><td>Murgantia histrionica</td><td>Harlequin bug</td></tr>
<tr><td>Hemiptera</td><td>Pentatomidae</td><td>Nezara viridula</td><td>Southern green stink bug</td></tr>
<tr><td>Hemiptera</td><td>Pentatomidae</td><td>Piezodorus guildinii</td><td>Red-banded stink bug</td></tr>
<tr><td>Hemiptera</td><td>Plataspidae</td><td>Megacopta cribraria</td><td>Kudzu bug</td></tr>
<tr><td>Hemiptera</td><td>Pseudococcidae</td><td>Ferrisia gilli</td><td>Gill's mealybug</td></tr>
<tr><td>Hemiptera</td><td>Pseudococcidae</td><td>NA</td><td>Mealybug</td></tr>
<tr><td>Hemiptera</td><td>Pseudococcidae</td><td>Planococcus ficus</td><td>Vine mealybug</td></tr>
<tr><td>Hemiptera</td><td>Pseudococcidae</td><td>Pseudococcus maritimus</td><td>American grape mealybug</td></tr>
<tr><td>Hemiptera</td><td>Psyllidae</td><td>Cacopsylla pyricola</td><td>Pear psylla</td></tr>
<tr><td>Hemiptera</td><td>Oxycarenidae</td><td>Oxycarenus hyalinipennis</td><td>Cotton seed bug</td></tr>
<tr><td>Hemiptera</td><td>Scutelleridae</td><td>Eurygaster integriceps</td><td>Sunn Pest</td></tr>
<tr><td>Hemiptera</td><td>Triozidae  </td><td>Bactericera maculipennis</td><td>Bindweed psyllid</td></tr>
<tr><td>Hemiptera</td><td>Triozidae  </td><td>Leuronota fagarae</td><td>Lime psyllid</td></tr>
<tr><td>Hymenoptera</td><td>Aphelinidae</td><td>Aphytis melinus</td><td>Aphytis</td></tr>
<tr><td>Hymenoptera</td><td>Braconidae</td><td>Microplitis mediator</td><td>Endoparasitoid</td></tr>
<tr><td>Hymenoptera</td><td>Diprionidae</td><td>Diprion similis</td><td>Introduced pine sawfly</td></tr>
<tr><td>Hymenoptera</td><td>Diprionidae</td><td>Neodiprion fabricii</td><td>Sawfly</td></tr>
<tr><td>Hymenoptera</td><td>Diprionidae</td><td>Neodiprion lecontei</td><td>Redheaded pine sawfly</td></tr>
<tr><td>Hymenoptera</td><td>Diprionidae</td><td>Neodiprion pinetum</td><td>White pine sawfly</td></tr>
<tr><td>Hymenoptera</td><td>Diprionidae</td><td>Neodiprion virginiana</td><td>Pine sawfly</td></tr>
<tr><td>Hymenoptera</td><td>Eulophidae</td><td>Phymastichus coffea</td><td>Parasitoid wasp of coffee berry borer</td></tr>
<tr><td>Hymenoptera</td><td>Formicidae</td><td>Solenopsis invicta</td><td>Red imported fire ant </td></tr>
<tr><td>Hymenoptera</td><td>Formicidae</td><td>Solenopsis richteri</td><td>Black fire ant</td></tr>
<tr><td>Hymenoptera</td><td>Formicidae</td><td>Wasmannia auropunctata</td><td>Litte fire ant</td></tr>
<tr><td>Hymenoptera</td><td>Ichneumonidae</td><td>Venturia canescens</td><td>Endoparasitoid</td></tr>
<tr><td>Hymenoptera</td><td>Vespidae</td><td>Vespa crabro</td><td>European Hornet</td></tr>
<tr><td>Hymenoptera</td><td>Vespidae</td><td>Vespa mandarinia</td><td>Asian giant hornet</td></tr>
<tr><td>Hymenoptera</td><td>Vespidae</td><td>Vespa mandarinia</td><td>Asian giant hornet</td></tr>
<tr><td>Hymenoptera</td><td>Vespidae</td><td>Vespa mandarinia</td><td>Asian giant hornet</td></tr>
<tr><td>Hymenoptera</td><td>Vespidae</td><td>Vespula pensylvanica</td><td>Western yellowjacket</td></tr>
<tr><td>Ixodida</td><td>Argasidae</td><td>Ornithodoros turicata</td><td>Relapsing fever tick</td></tr>
<tr><td>Ixodida</td><td>Argasidae</td><td>Ornithodoros verrucosus</td><td>Relapsing fever tick</td></tr>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Amblyomma americanum</td><td>Lone star tick</td></tr>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Amblyomma maculatum</td><td>Gulf Coast tick</td></tr>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Amblyomma variegatum</td><td>Tropical bont tick</td></tr>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Dermacentor albipictus</td><td>Winter tick</td></tr>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Dermacentor andersoni</td><td>Rocky Mountain wood tick</td></tr>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Dermacentor variabilis</td><td>American dog tick</td></tr>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Haemaphysalis longicornis</td><td>Asian longhorned tick</td></tr>
<tr><td>Ixodida</td><td>Ixodidae</td><td>Rhipicephalus appendiculatus</td><td>Brown ear tick</td></tr>
<tr><td>Lepidoptera</td><td>Crambidae</td><td>Diatraea grandiosella</td><td>Southwestern corn borer</td></tr>
<tr><td>Lepidoptera</td><td>Crambidae</td><td>Ostrinia nubilalis</td><td>European corn borer</td></tr>
<tr><td>Lepidoptera</td><td>Gelechiidae</td><td>Anarsia lineatella </td><td>Peach twig borer</td></tr>
<tr><td>Lepidoptera</td><td>Gelechiidae</td><td>Pectinophora gossypiella</td><td>Pink bollworm</td></tr>
<tr><td>Lepidoptera</td><td>Gelechiidae</td><td>Sitotroga cerealella</td><td>Angoumois grain moth</td></tr>
<tr><td>Lepidoptera</td><td>Noctuidae</td><td>Eudocima phalonia</td><td>Fruit piercing moth</td></tr>
<tr><td>Lepidoptera</td><td>Noctuidae</td><td>Helicoverpa zea</td><td>Corn earworm</td></tr>
<tr><td>Lepidoptera</td><td>Noctuidae</td><td>Spodoptera frugiperda</td><td>Fall armyworm</td></tr>
<tr><td>Lepidoptera</td><td>Noctuidae</td><td>Spodoptera frugiperda</td><td>Fall armyworm</td></tr>
<tr><td>Lepidoptera</td><td>Noctuidae</td><td>Striacosta albicosta</td><td>Western bean cutworm</td></tr>
<tr><td>Lepidoptera</td><td>Pyralidae</td><td>Achroia grisella</td><td>Lesser waxmoth</td></tr>
<tr><td>Lepidoptera</td><td>Pyralidae</td><td>Amyelois transitella</td><td>Navel orangeworm</td></tr>
<tr><td>Lepidoptera</td><td>Pyralidae</td><td>Cadra cautella</td><td>Almond moth</td></tr>
<tr><td>Lepidoptera</td><td>Pyralidae</td><td>Cadra figulilella</td><td>Raisin moth</td></tr>
<tr><td>Lepidoptera</td><td>Pyralidae</td><td>Plodia interpunctella</td><td>Indian meal moth</td></tr>
<tr><td>Lepidoptera</td><td>Sphingidae</td><td>Manduca sexta</td><td>Tobacco hornworm</td></tr>
<tr><td>Lepidoptera</td><td>Tortricidae</td><td>Cydia pomonella</td><td>Codling moth</td></tr>
<tr><td>Orthoptera</td><td>Acrididae</td><td>Schistocerca gregaria</td><td>Desert locust</td></tr>
<tr><td>Orthoptera</td><td>Gryllidae</td><td>Acheta domesticus</td><td>House cricket</td></tr>
<tr><td>Orthoptera</td><td>Gryllidae</td><td>Gryllodes sigillatus</td><td>Banded cricket</td></tr>
<tr><td>Orthoptera</td><td>Tettigoniidae</td><td>Anabrus simplex</td><td>Mormon cricket</td></tr>
<tr><td>Thysanoptera</td><td>Thripidae</td><td>Frankliniella occidentalis</td><td>Western flower thrip</td></tr>
