    <tr>
        <td>Coleoptera</td>
        <td>Anobiidae</td>
        <td>Lasioderma serricorne</td>
        <td>Cigarette beetle</td>
        <td>155</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Anobiidae</td>
        <td>Stegobium paniceum</td>
        <td>Drugstore beetle</td>
        <td>200</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Bostrichidae</td>
        <td>Rhyzopertha dominica</td>
        <td>Lesser grain borer</td>
        <td>480</td>
        <td><a href="https://www.ncbi.nlm.nih.gov/bioproject/?term=PRJNA449115" target="_blank"> PRJNA449115</a></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Cerambycidae</td>
        <td>Acalolepta aesthetica</td>
        <td>Queensland longhorned beetle </td>
        <td>600</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Cerambycidae</td>
        <td>Mallodon dasystomus</td>
        <td>Hardwood stump borer</td>
        <td>1800</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Chrysomelidae</td>
        <td>Chrysomela scripta</td>
        <td>Cottonwood leaf beetle</td>
        <td>1200</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Chrysomelidae</td>
        <td>Diabrotica barberi</td>
        <td>Northern corn rootworm</td>
        <td>2500</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Chrysomelidae</td>
        <td>Diabrotica undecimpunctata</td>
        <td>Southern corn rootworm</td>
        <td>1250</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Chrysomelidae</td>
        <td>Diorhabda carinata</td>
        <td>Larger tamarisk beetle</td>
        <td>350</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Chrysomelidae</td>
        <td>Diorhabda carinulata</td>
        <td>Northern tamarisk beetle</td>
        <td>350</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Chrysomelidae</td>
        <td>Diorhabda elongata</td>
        <td>Mediterranean tamarisk beetle</td>
        <td>350</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Chrysomelidae</td>
        <td>Diorhabda sublineata</td>
        <td>Subtropical tamarisk beetle</td>
        <td>350</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Curculionidae</td>
        <td>Anthonomus grandis</td>
        <td>Boll weevil</td>
        <td>800</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Curculionidae</td>
        <td>Sitophilus oryzae</td>
        <td>Rice weevil</td>
        <td>768</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Dermestidae</td>
        <td>Trogoderma granarium</td>
        <td>Khapra beetle </td>
        <td>300</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Dermestidae</td>
        <td>Trogoderma granarium</td>
        <td>Khapra beetle </td>
        <td>300</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Dermestidae</td>
        <td>Trogoderma variabile</td>
        <td>Warehouse beetle</td>
        <td>275</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Scarabaeidae</td>
        <td>Oryctes rhinoceros</td>
        <td>Coconut rhinoceros beetle</td>
        <td>550</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Silvanidae</td>
        <td>Oryzaephilus mercator</td>
        <td>Merchant grain beetle</td>
        <td>unknown</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Silvanidae</td>
        <td>Oryzaephilus surinamensis</td>
        <td>Saw-toothed grain beetle</td>
        <td>155</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Tenebrionidae</td>
        <td>Tenebrio molitor</td>
        <td>Yellow mealworm</td>
        <td>775</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Tenebrionidae</td>
        <td>Tribolium castaneum</td>
        <td>Red flour beetle</td>
        <td>205</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Tenebrionidae</td>
        <td>Tribolium confusum</td>
        <td>Confused flour beetle</td>
        <td>300</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Coleoptera</td>
        <td>Tenebrionidae</td>
        <td>Tribolium destructor</td>
        <td>Destructive flour beetle</td>
        <td>170</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
         <td>Diptera</td>
        <td>Muscidae</td>
        <td>Haematobia irritans</td>
        <td>Horn fly</td>
        <td>1200</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Diptera</td>
        <td>Muscidae</td>
        <td>Musca autumnalis</td>
        <td>Face fly, female</td>
        <td>1200</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Diptera</td>
        <td>Muscidae</td>
        <td>Musca autumnalis</td>
        <td>Face fly male</td>
        <td>1200</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Diptera</td>
        <td>Muscidae</td>
        <td>Stomoxys calcitrans</td>
        <td>Stable Fly</td>
        <td>1130</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Diptera</td>
        <td>Tephritidae</td>
        <td>Anastrepha fraterculus</td>
        <td>Tephritid fruit fly pest</td>
        <td>850</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Diptera</td>
        <td>Tephritidae</td>
        <td>Anastrepha ludens </td>
        <td>Mexican fruit fly</td>
        <td>800</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Diptera</td>
        <td>Tephritidae</td>
        <td>Anastrepha obliqua </td>
        <td>Tephritid fruit fly pest</td>
        <td>850</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Diptera</td>
        <td>Tephritidae</td>
        <td>Anastrepha suspensa</td>
        <td>Caribbean fruit fly</td>
        <td>1200</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Diptera</td>
        <td>Tephritidae</td>
        <td>Bactrocera albistrigata</td>
        <td>Tephritid fruit fly pest</td>
        <td>675</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Diptera</td>
        <td>Tephritidae</td>
        <td>Bactrocera correcta</td>
        <td>Tephritid fruit fly pest</td>
        <td>675</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Diptera</td>
        <td>Tephritidae</td>
        <td>Bactrocera zonata</td>
        <td>Tephritid fruit fly pest</td>
        <td>675</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Diptera</td>
        <td>Ulidiidae</td>
        <td>Euxesta stigmatias</td>
        <td>Corn silk fly</td>
        <td>unknown</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Aphididae</td>
        <td>Schizaphis graminum</td>
        <td>Greenbug</td>
        <td>350</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Fulgoridae</td>
        <td>Lycorma delicatula</td>
        <td>Spotted lanternfly</td>
        <td>2300</td>
        <td><a href="https://www.ncbi.nlm.nih.gov/bioproject/?term=PRJNA540533" target="_blank">PRJNA540533</td>
        <td><a href="https://doi.org/10.1093/gigascience/giz122" target="_blank">GigaScience</a></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Geocoridae</td>
        <td>Geocoris pallen</td>
        <td>Western big-eyed bug</td>
        <td>1000</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Miridae</td>
        <td>Lygus hesperus</td>
        <td>Lygus bug/Western tarnished plant bug</td>
        <td>1000</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Miridae</td>
        <td>Lygus lineolaris</td>
        <td>Lygus bug/Tarnished plant bug</td>
        <td>860</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Pentatomidae</td>
        <td>Bagrada hilaris</td>
        <td>Bagrada bug</td>
        <td>1300</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Pentatomidae</td>
        <td>Euschistus servus</td>
        <td>Brown stink bug</td>
        <td>1300</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Pentatomidae</td>
        <td>Halyomorpha halys</td>
        <td>Brown marmorated stink bug</td>
        <td>1200</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Pentatomidae</td>
        <td>Murgantia histrionica</td>
        <td>Harlequin bug</td>
        <td>1300</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Pentatomidae</td>
        <td>Nezara viridula</td>
        <td>Southern green stink bug</td>
        <td>1300</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Pentatomidae</td>
        <td>Piezodorus guildinii</td>
        <td>Red-banded stink bug</td>
        <td>1000</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Plataspidae</td>
        <td>Megacopta cribraria</td>
        <td>Kudzu bug</td>
        <td>1300</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Psyllidae</td>
        <td>Cacopsylla pyricola</td>
        <td>Pear psylla</td>
        <td>480</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Reduviidae</td>
        <td>Rhodinus prolixus</td>
        <td>Kissing bug</td>
        <td>707</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Scutelleridae</td>
        <td>Eurygaster integriceps</td>
        <td>Sunn Pest</td>
        <td>unknown</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Triozidae</td>
        <td>Bactericera cockerelli</td>
        <td>Potato psyllid</td>
        <td>480</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Triozidae</td>
        <td>Bactericera maculipennis</td>
        <td>Bindweed psyllid</td>
        <td>480</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hemiptera</td>
        <td>Triozidae</td>
        <td>Leuronota fagarae</td>
        <td>Lime psyllid</td>
        <td>480</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hymenoptera</td>
        <td>Diprionidae</td>
        <td>Diprion similis</td>
        <td>Introduced pine sawfly</td>
        <td>350</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hymenoptera</td>
        <td>Diprionidae</td>
        <td>Neodiprion fabricii</td>
        <td>Sawfly</td>
        <td>350</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hymenoptera</td>
        <td>Diprionidae</td>
        <td>Neodiprion virginianus</td>
        <td>Pine sawfly</td>
        <td>350</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hymenoptera</td>
        <td>Formicidae</td>
        <td>Solenopsis invicta</td>
        <td>Red imported fire ant </td>
        <td>450</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hymenoptera</td>
        <td>Formicidae</td>
        <td>Wasmannia auropunctata</td>
        <td>Litte fire ant</td>
        <td>300</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hymenoptera</td>
        <td>Vespidae</td>
        <td>Vespa crabro</td>
        <td>European Hornet</td>
        <td>unknown</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hymenoptera</td>
        <td>Vespidae</td>
        <td>Vespula pensylvanica</td>
        <td>Western yellowjacket</td>
        <td>220</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Ixodida</td>
        <td>Argasidae</td>
        <td>Ornithodoros turicata</td>
        <td>Relapsing fever tick, female</td>
        <td>1200</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Ixodida</td>
        <td>Argasidae</td>
        <td>Ornithodoros verrucosus</td>
        <td>Argasid tick</td>
        <td>1200</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Lepidoptera</td>
        <td>Crambidae</td>
        <td>Ostrinia nubilalis</td>
        <td>European corn borer</td>
        <td>455</td>
        <td><a href="https://www.ncbi.nlm.nih.gov/bioproject/?term=PRJNA534504" target="_blank">PRJNA534504</a></td>
        <td></td>
    </tr>
    <tr>
        <td>Lepidoptera</td>
        <td>Gelechiidae</td>
        <td>Pectinophora gossypiella</td>
        <td>Pink bollworm</td>
        <td>500</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Lepidoptera</td>
        <td>Noctuidae</td>
        <td>Eudocima phalonia</td>
        <td>Fruit piercing moth</td>
        <td>600</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Lepidoptera</td>
        <td>Noctuidae</td>
        <td>Helicoverpa zea</td>
        <td>Corn earworm</td>
        <td>363</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Lepidoptera</td>
        <td>Noctuidae</td>
        <td>Striacosta albicosta</td>
        <td>Western bean cutworm</td>
        <td>1270</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Lepidoptera</td>
        <td>Pyralidae</td>
        <td>Achroia grisella</td>
        <td>Lesser waxmoth</td>
        <td>unknown</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Lepidoptera</td>
        <td>Pyralidae</td>
        <td>Plodia interpunctella</td>
        <td>Indian meal moth</td>
        <td>325</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Lepidoptera</td>
        <td>Tortricidae</td>
        <td>Cydia pomonella</td>
        <td>Codling moth</td>
        <td>650</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Orthoptera</td>
        <td>Gryllidae</td>
        <td>Acheta domesticus</td>
        <td>House cricket</td>
        <td>2250</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Orthoptera</td>
        <td>Gryllidae</td>
        <td>Gryllodes sigillatus</td>
        <td>Banded cricket</td>
        <td>2000</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Phasmatodea</td>
        <td>Diapheromeridae</td>
        <td>Siploidea sipylus</td>
        <td>Pink winged stick insect</td>
        <td>unknown</td>
        <td></td>
        <td></td>
    </tr>
