---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}">
  <head>
  {% include head.html %}
  {% include head/custom.html %}
  {% include scripts.html %}
    <script src="/javascripts/jquery-1.12.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
		var jQuery_1_12_1 = $.noConflict(true);
	</script>
    	<script src="/javascripts/jquery.tablesorter.min.js" type="text/javascript"></script>
    	<script src="/javascripts/jquery.tablesorter.widgets.min.js"></script>
    	<script src="/javascripts/table.js"></script>
    	<link rel="stylesheet" href="/stylesheets/css/modified_table_theme.jui.css" type="text/css" media="print, projection, screen"></link>
    	<link rel="stylesheet" href="/stylesheets/css/theme.default.css" type="text/css" media="print, projection, screen" ></link>
    	<link rel="stylesheet" href="/stylesheets/css/jquery-ui.min.css" type="text/css" media="print, projection, screen"></link>
	</head>
  <body>
  {% include browser-upgrade.html %}
  	{% include masthead.html %}
  <div style="padding-left: 50px;padding-right:50px;padding-top:10px;">
    <h1>Ag100Pest Initiative</h1>
    
    <!-- Text before table goes here  -->
    <p>
      The Ag100Pest Initiative is led by the USDA’s Agricultural Research Service. The initiative leverages ARS's unique expertise in both arthropod pest management and agricultural genomics research, and enhances the agency’s contribution to two international genome sequencing projects – i5K (the 5000 insect genomes initiative) and the [Earth BioGenome Project](https://www.earthbiogenome.org/) (to sequence the genomes of all of the world’s 1.5 million animals and plants).<br><br> 

      **Goal**: Produce annotated, reference quality genome assemblies for the top 100 US arthropod agricultural pests.  When possible, generate the PacBio long-read data from a single individual.<br><br>

      Arthropod pests of US field crops, livestock, bees, trees, and stored products as well as foreign pest species considered potential invasive threats to US agriculture are being considered. Beyond genomes, Ag100Pest teams will develop best practices that will benefit the entire arthropod genomics community. We are interested in collaborating with the community in these efforts and hope our successes will encourage others to undertake similar efforts.<br><br>

      **Executive Committee**: Anna Childers, Brian Scheffler, Kevin Hackett<br>
      **Core Team**: Brad Coates, Scott Geib, Brian Scheffler, Tim Smith, Anna Childers, Monica Poelchau, Chris Childers, Kevin Hackett<br><br>

      The 74 species in the table below are currently included in the effort.  This list is not final; additions and modifications will occur as the project progresses.<br>
      Last updated: 2019-11-15
    </p>
  </div>

<table id="table1" class="tablesorter" role="grid">
  <thead>
    <tr>
    <!-- #|Genus species|Overview|Chromosome|GenomeID-->
        <th>Order</th>
        <th>Family</th>
        <th>Scientific Name</th>
        <th>Common Name</th>
        <th>Estimated Genome Size (Mbp)</th>
        <th>BioProject</th>
        <th>Published</th>
    </tr>
  </thead>
  <tbody>
    {% include data/Ag100Pest_table.html%}
  </tbody>
</table>
<script>
	jQuery_1_12_1(document).ready(function() {
  		$('table').trigger('update');
  		$('table').trigger("appendCache");
	});
	jQuery_1_12_1('table').trigger('update');
	jQuery_1_12_1('table').trigger("appendCache");
</script>

<!-- Text after table goes here  -->
<div style="padding-left: 50px;padding-right:50px;">

    <div class="page__footer">
      <footer>
        {% include footer.html %}
      </footer>
    </div>

</body>
