---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    	<script src="/javascripts/jquery.tablesorter.min.js" type="text/javascript"></script>
    	<script src="/javascripts/table.js" type="text/javascript"></script>
    	<link rel="stylesheet" href="/stylesheets/theme.default.min.css" type="text/css" media="screen" />
    	<link rel="stylesheet" href="/stylesheets/blue/theme.blue.min.css" type="text/css" media="print, projection, screen" />
    	<script src="/javascripts/jquery-1.12.1.min.js" type="text/javascript"></script>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    {% include footer/custom.html %}

  </body>
</html>
